<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    hello
    <div>
        <div>
            <form action="/login" method="post">
                <div>
                    <input autocomplete="off" autofocus name="username" placeholder="Username" type="text">
                </div>
                <div>
                    <input autocomplete="off" autofocus name="password" placeholder="Password" type="password">
                </div>
                <button type="submit">Log In</button>
            </form>
            
        </div>
    </div>
    
</body>
</html>